header {
    font-size: 20px;
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
    color: white;
  }
  


  footer {
    background-color: black;
    color: #fff;
    padding: 40px 0;
    left: 0;
    bottom: 0;
    width: 100%;    
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex-basis: 30%;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    font-size: 14px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links li a {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 12px;
  }
  

  nav {
    text-align: center;
    background-color: #333;
    overflow: hidden;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 34px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button a:last-child {
    margin-left: auto;
  }

  .social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #333;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }

  .root {
    padding-bottom: 200px;
  
  
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 9999; /* Add a high z-index value */
    padding: 20px
  }
}
  
  
