/* components/HomePage.css */
.home-page__block {
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.home-page__block-inner {
    padding: 40px;
    border-radius: 10px;
    color: #ffffff;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-page__block--software .home-page__block-inner {
    background-color: #4caf50;
}

.home-page__block--tactics .home-page__block-inner {
    background-color: #2196f3;
}

.home-page__block--groups .home-page__block-inner {
    background-color: #ff9800;
}

.home-page__block--mitigations .home-page__block-inner {
    background-color: #f44336;
}

.home-page__block--techniques .home-page__block-inner {
    background-color: #9c27b0;
}